@import "tailwindcss";

:root {
  --color-army-green: #485C11;
  --color-green: #21C45D;
  --color-orange: #F59F0A;
  --color-red: #EF4343;
  --color-dirty-white: #DFECC6;
  --color-artichoke: #8E9C78;  
}

@layer components {
  .animation-btn {
    @apply transition-all duration-200 ease-in-out
  }

  .green-btn {
    @apply bg-(--color-army-green) text-white rounded-xl hover:bg-(--color-artichoke)
  }

  .gray-btn {
    @apply bg-gray-200 rounded-xl hover:bg-gray-100
  }

  .dirty-white-btn {
    @apply bg-(--color-dirty-white) text-black rounded-xl hover:opacity-70 cursor-pointer
  }

  .black-btn {
    @apply rounded-xl bg-black font-medium text-white hover:bg-gray-900
  }
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100dvh;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}