@import "tailwindcss";

:root {
  --color-army-green: #485C11;
  --color-green: #21C45D;
  --color-orange: #F59F0A;
  --color-red: #EF4343;
  --color-dirty-white: #DFECC6;
  
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}